body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
/* centralizar texto horizontalmente e ajustar a largura */
main {
    padding: 20px;
    text-align: center;
}
main p {
    max-width: 600px; /* Ajusta a largura máxima do parágrafo */
    margin: 0 auto; /* Centraliza o parágrafo horizontalmente */
    text-align: justify; /* Justifica o texto */
}

a.explore-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.explore-btn:hover {
    background-color: #ff4500;
}

footer {
    background-color: #333;
    color: white;
    padding: 0px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

main img {
    max-width: 50%;
}

/* Estilo para os links das séries */
a.serie-link:link, a.serie-link:visited {
    color: rgb(22, 21, 21); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    border-bottom: 2px solid transparent; /* Sutil linha embaixo do link */
    transition: border-bottom 0.3s ease, color 0.3s ease; /* Transição suave */
}

a.serie-link:hover {
    color: #ff6347; /* Cor quando o mouse passa por cima */
    border-bottom: 2px solid #ff6347; /* Sublinhar com a cor ao passar o mouse */
}

a.serie-link:active {
    color: #ff4500; /* Cor quando o link é clicado */
}

/* Estilo para os links do menu de navegação */
nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer; /* Adiciona o ponteiro de link ao passar o mouse */
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
}

nav ul li a:hover {
    color: #ff6347; /* Cor ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

